<div id="header">
    <div class="header__show">

        <div class="container-xxl show__container">

            <div class="btn-nav">
                <a class="text-light"><span class="oi oi-menu"></span></a>
            </div>

            <div class="header">

                <ul class="header__item"><a href="#" class=""><span class="oi oi-home"></span></a></ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/thoi-su">Thời sự</a></li>
                    <div>
                        <li><a class="" href="/news/thoi-su/chinh-tri">Chính trị</a></li>
                        <li><a class="" href="/news/thoi-su/dai-hoi-XIII">Đại hội XIII</a></li>
                        <li><a class="" href="/news/thoi-su/Mekong">Mekong</a></li>
                        <li><a class="" href="/news/thoi-su/dan-sinh">Dân sinh</a></li>
                        <li><a class="" href="/news/thoi-su/quy-hy-vong">Quỹ hy vọng</a></li>
                    </div>
                </ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/goc-nhin">Góc nhìn</a></li>
                    <div>
                        <li><a class="" href="/news/goc-nhin/covid-19">Covid 19</a></li>
                        <li><a class="" href="/news/goc-nhin/chinh-tri-chinh-sach">Chính trị & chính sách</a></li>
                        <li><a class="" href="/news/goc-nhin/y-te-suc-khoe">Y tế & sức khỏe</a></li>
                        <li><a class="" href="/news/goc-nhin/kinh-doanh-quan-tri">Kinh doanh & quản trị</a></li>
                        <li><a class="" href="/news/goc-nhin/giao-duc-tri-thuc">Giáo dục & tri thức</a></li>
                        <li><a class="" href="/news/goc-nhin/moi-truong">Môi trường</a></li>
                        <li><a class="" href="/news/goc-nhin/van-hoa-loi-song">Văn hóa & lối sống</a></li>
                    </div>           
                </ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/the-gioi">Thế giới</a></li>
                    <div>
                        <li><a class="" href="/news/the-gioi/tu-lieu">Tư liệu </a></li>
                        <li><a class="" href="/news/the-gioi/phan-tich">Phân tích </a></li>
                        <li><a class="" href="/news/the-gioi/nguoi-viet-5-chau">Người việt 5 châu </a></li>
                        <li><a class="" href="/news/the-gioi/cuoc-song-do-day">Cuộc sống đó đây </a></li>
                        <li><a class="" href="/news/the-gioi/quan-su">Quân sự </a></li>
                    </div>          
                </ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/video">Video </a></li>
                    <div>
                        <li><a class="" href="/news/video/thoi-su">Thời sự </a></li>
                        <li><a class="" href="/news/video/nhip-song">Nhịp sống </a></li>
                        <li><a class="" href="/news/video/sports-life">sports life </a></li>
                        <li><a class="" href="/news/video/food">Food </a></li>
                        <li><a class="" href="/news/video/cuoc-song-4.0">Cuộc sống 4.0 </a></li>
                        <li><a class="" href="/news/video/toi-ke">Tôi kể </a></li>
                        <li><a class="" href="/news/video/chuyen-nui-rung">Chuyện núi rừng </a></li>
                        <li><a class="" href="/news/video/toa-dam-kinh-te">Tọa đàm kinh tế </a></li>
                        <li><a class="" href="/news/video/giai-tri">Giải trí </a></li>
                        <li><a class="" href="/news/video/du-lich">Du lịch </a></li>
                        <li><a class="" href="/news/video/the-gioi">Thế giới </a></li>
                        <li><a class="" href="/news/video/phap-luat">Pháp luật </a></li>
                        <li><a class="" href="/news/video/kinh-doanh">Kinh doanh </a></li>
                        <li><a class="" href="/news/video/khoa-hoc">Khoa học </a></li>
                        <li><a class="" href="/news/video/giao-duc">Giáo dục </a></li>
                        <li><a class="" href="/news/video/suc-khoe">Sức khỏe </a></li>
                    </div>         
                </ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/kinh-doanh">Kinh doanh</a></li>
                    <div>
                        <li><a class="" href="/news/kinh-doanh/quoc-te">Quốc tế </a></li>
                        <li><a class="" href="/news/kinh-doanh/doanh-nghiep">Doanh nghiệp </a></li>
                        <li><a class="" href="/news/kinh-doanh/chung-khoan">Chứng khoán </a></li>
                        <li><a class="" href="/news/kinh-doanh/bat-dong-san">Bất động sản </a></li>
                        <li><a class="" href="/news/kinh-doanh/ebank">Ebank </a></li>
                        <li><a class="" href="/news/kinh-doanh/vi-mo">Vĩ mô </a></li>
                        <li><a class="" href="/news/kinh-doanh/tien-cua-toi">Tiền của tôi </a></li>
                        <li><a class="" href="/news/kinh-doanh/bao-hiem">Bảo hiểm </a></li>
                        <li><a class="" href="/news/kinh-doanh/hang-hoa">Hàng hóa </a></li>
                        <li><a class="" href="/news/kinh-doanh/startup">Startup </a></li>
                        <li><a class="" href="/news/kinh-doanh/e-commerce-4.0">E-commerce 4.0</a></li>
                        <li><a class="" href="/news/kinh-doanh/vhome">Vhome</a></li>
                    </div>
                    
                </ul>

                <ul class="header__item d-none d-sm-block">
                    <li><a class="" href="/news/khoa-hoc">Khoa học </a></li>
                    <div>
                        <li><a class="" href="/news/khoa-hoc/tin-tuc"> Tin tức</a></li>
                        <li><a class="" href="/news/khoa-hoc/phat-minh">Phát minh </a></li>
                        <li><a class="" href="/news/khoa-hoc/ung-dung">Ứng dụng </a></li>
                        <li><a class="" href="/news/khoa-hoc/the-gioi-tu-nhien">Thế giới tự nhiên </a></li>
                        <li><a class="" href="/news/khoa-hoc/thuong-thuc">Thường thức </a></li>
                        <li><a class="" href="/news/khoa-hoc/khoa-hoc-trong-nuoc">Khoa học trong nước </a></li>
                    </div>          
                </ul>

                <ul class="header__item d-none d-md-block">
                    <li><a class="" href="/news/giai-tri">Giải trí </a></li>
                    <div>
                        <li><a class="" href="/news/giai-tri/gioi-sao">Giới sao </a></li>
                    <li><a class="" href="/news/giai-tri/video">Video </a></li>
                    <li><a class="" href="/news/giai-tri/phim">Phim </a></li>
                    <li><a class="" href="/news/giai-tri/nhac">Nhạc </a></li>
                    <li><a class="" href="/news/giai-tri/thoi-tranh">Thời trang </a></li>
                    <li><a class="" href="/news/giai-tri/lam-dep">Làm đẹp </a></li>
                    <li><a class="" href="/news/giai-tri/sach">Sách </a></li>
                    <li><a class="" href="/news/giai-tri/san-khau-my-thuat">Sân khấu - Mỹ thuật </a></li>
                    </div>            
                </ul> 

                <ul class="header__item d-none d-md-block">
                    <li><a class="" href="/news/the-thao">Thể thao </a></li>
                    <div>
                        <li><a class="" href="/news/the-thao/video">Video </a></li>
                        <li><a class="" href="/news/the-thao/bong-da">Bóng đá </a></li>
                        <li><a class="" href="/news/the-thao/lich-thi-dau">Lịch thi đấu </a></li>
                        <li><a class="" href="/news/the-thao/v-league">V-League </a></li>
                        <li><a class="" href="/news/the-thao/tennis">Tennis </a></li>
                        <li><a class="" href="/news/the-thao/VM-2021">VM 2021 </a></li>
                        <li><a class="" href="/news/the-thao/cac-mon-khac">Các môn khác </a></li>
                        <li><a class="" href="/news/the-thao/olympic-Tokyo-2020">Olympic Tokyo 2020 </a></li>
                        <li><a class="" href="/news/the-thao/world-cup-2022">World Cup 2022 </a></li>
                        <li><a class="" href="/news/the-thao/hau-truong">Hậu trường </a></li>
                        <li><a class="" href="/news/the-thao/anh">Ảnh</a></li>
                        <li><a class="" href="/news/the-thao/tuong-thuat">Tường thuật </a></li>
                        <li><a class="" href="/news/the-thao/v-race">V-Race </a></li>
                        <li><a class="" href="/news/the-thao/trac-nghiem">Trắc nghiệm </a></li>
                    </div>
                </ul>

                <ul class="header__item d-none d-md-block">
                    <li><a class="" href="/news/phap-luat">Pháp luật </a></li>
                    <div>
                        <li><a class="" href="/news/phap-luat/ho-so-pha-an">Hồ sơ phá án </a></li>
                        <li><a class="" href="/news/phap-luat/tu-van">Tư vấn </a></li>
                    </div>         
                </ul>

                <ul class="header__item d-none d-lg-block">
                    <li><a class="" href="/news/giao-duc">Giáo dục </a></li>
                    <div>
                        <li><a class="" href="/news/giao-duc/tuyen-sinh">Tuyển sinh </a></li>
                        <li><a class="" href="/news/giao-duc/diem-thi">Điểm thi </a></li>
                        <li><a class="" href="/news/giao-duc/tra-cuu-dai-hoc">Tra cứu đại học </a></li>
                        <li><a class="" href="/news/giao-ducdu-hoc/">Du học </a></li>
                        <li><a class="" href="/news/giao-duc/hoc-tieng-anh">Học tiếng Anh </a></li>
                        <li><a class="" href="/news/giao-duc/trac-nghiem">Trắc nghiệm </a></li>
                        <li><a class="" href="/news/giao-duc/giao-duc-4.0">Giáo dục 4.0 </a></li>
                        <li><a class="" href="/news/giao-duc/debate">Debate </a></li>
                        <li><a class="" href="/news/giao-duc/dau-truong-toan-hoc">Đấu trường toán học </a></li>
                    </div>
                    
                </ul>

                <ul class="header__item d-none d-lg-block">
                    <li><a class="" href="/news/suc-khoe">Sức khỏe </a></li>
                    <div>
                        <li><a class="" href="/news/suc-khoe/tin-tuc">Tin tức </a></li>
                        <li><a class="" href="/news/suc-khoe/tu-van">Tư vấn </a></li>
                        <li><a class="" href="/news/suc-khoe/dinh-duong">Dinh dưỡng </a></li>
                        <li><a class="" href="/news/suc-khoe/khoe-dep">Khỏe đẹp </a></li>
                        <li><a class="" href="/news/suc-khoe/dan-ong">Đàn ông </a></li>
                        <li><a class="" href="/news/suc-khoe/cac-benh">Các bệnh </a></li>
                        <li><a class="" href="/news/suc-khoe/ung-thu">Ung thư </a></li>
                        <li><a class="" href="/news/suc-khoe/vaccine">Vaccine </a></li>
                    </div>           
                </ul>

                <ul class="header__item d-none d-lg-block">
                    <li><a class="" href="/news/doi-song">Đời sống </a></li>
                    <div>
                        <li><a class="" href="/news/doi-song/to-am">Tổ ấm </a></li>
                        <li><a class="" href="/news/doi-song/bai-hoc-song">Bài học sống </a></li>
                        <li><a class="" href="/news/doi-song/nha">Nhà </a></li>
                        <li><a class="" href="/news/doi-song/tieu-dung">Tiêu dùng </a></li>
                        <li><a class="" href="/news/doi-song/cooking">Cooking </a></li>
                    </div>
                </ul>

                <ul class="header__item d-none d-xl-block">
                    <li><a class="" href="/news/du-lich">Du lịch </a></li>
                    <div>
                        <li><a class="" href="/news/du-lich/diem-yeu">Điểm đến </a></li>
                        <li><a class="" href="/news/du-lich/dau-chan">Dấu chân </a></li>
                        <li><a class="" href="/news/du-lich/tu-van">Tư vấn </a></li>
                        <li><a class="" href="/news/du-lich/safe-go">Safe Go </a></li>
                        <li><a class="" href="/news/du-lich/anh">Ảnh </a></li>
                        <li><a class="" href="/news/du-lich/an-va-choi">Ăn và chơi </a></li>
                    </div>           
                </ul>

                <ul class="header__item d-none d-xl-block">
                    <li><a class="" href="/news/so-hoa">Số hóa </a></li>
                    <div>
                        <li><a class="" href="/news/so-hoa/cong-nghe">Công nghệ </a></li>
                    <li><a class="" href="/news/so-hoa/san-pham">Sản phẩm </a></li>
                    <li><a class="" href="/news/so-hoa/dien-dan">Diễn đàn </a></li>
                    <li><a class="" href="/news/so-hoa/san-pham-toi-yeu">Sản Phẩm Tôi Yêu </a></li>
                    </div>
                </ul>

                <ul class="header__item d-none d-xl-block">
                    <li><a class="" href="/news/xe/">Xe </a></li>
                    <div>
                        <li><a class="" href="/news/xe/thi-truong">Thị trường </a></li>
                        <li><a class="" href="/news/xe/tu-van">Tư vấn </a></li>
                        <li><a class="" href="/news/xe/dien-dan">Diễn đàn </a></li>
                        <li><a class="" href="/news/xe/danh-gia">Đánh giá </a></li>
                        <li><a class="" href="/news/xe/video">Video </a></li>
                        <li><a class="" href="/news/xe/bang-gia-oto">Bảng giá ôtô </a></li>
                        <li><a class="" href="/news/xe/xe-dien">Xe điện </a></li>
                        <li><a class="" href="/news/xe/cam-nang-mua-xe">Cẩm nang mua xe </a></li>
                        <li><a class="" href="/news/xe/thi-bang-lai">Thi bằng lái </a></li>
                        <li><a class="" href="/news/xe/mua-ban">Mua bán </a></li>
                    </div>            
                </ul>

                <ul class="header__item d-none d-xxl-block">
                    <li><a class="" href="/news/y-kien/">Ý kiến </a></li>
                    <div>
                        <li><a class="" href="/news/y-kien/thoi-su">Thời sự </a></li>
                        <li><a class="" href="/news/y-kien/doi-song">Đời sống </a></li>
                    </div>            
                </ul>

                <ul class="header__item d-none d-xxl-block">
                    <li><a class="" href="/news/tam-su">Tâm sự </a></li>
                    <div>
                        <li><a class="" href="/news/tam-su/chuyen-gia-go-roi">Chuyên gia gỡ rối </a></li>
                        <li><a class="" href="/news/tam-su/hen-ho">Hẹn hò </a></li>
                    </div>
                </ul>

                <ul class="header__item d-none d-xxl-block">
                    <li><a class="" href="/news/hai/">Hài </a></li>
                    <div>
                        <li><a class="" href="/news/hai/cuoi">Cười </a></li>
                        <li><a class="" href="/news/hai/do-vui">Đố vui </a></li>
                        <li><a class="" href="/news/hai/chuyen-la">Chuyện lạ </a></li>
                        <li><a class="" href="/news/hai/thu-cung">Thú cưng </a></li>
                    </div>            
                </ul>
            </div>
        </div>
    </div>

    {{!-- fade navbar --}}
    <div class="header__hide container mb-4 d-none">
        <div class="row">
            <div class="header__title col-12">
                <h1>Tất cả chuyên mục</h1>
                <h1><a  type="button" class="btn__close"><span class="oi oi-circle-x"></span></a></h1>
            </div>
            <div class="col-12 col-xl-10 pb-3">
                <div class="header row ">

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/thoi-su">Thời sự</a></li>
                        <div>
                            <li><a class="" href="/news/thoi-su/chinh-tri">Chính trị</a></li>
                            <li><a class="" href="/news/thoi-su/dai-hoi-XIII">Đại hội XIII</a></li>
                            <li><a class="" href="/news/thoi-su/Mekong">Mekong</a></li>
                            <li><a class="" href="/news/thoi-su/dan-sinh">Dân sinh</a></li>
                            <a href="#" class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/thoi-su/quy-hy-vong">Quỹ hy vọng</a></li>
                            </div>
                        </div>
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/goc-nhin">Góc nhìn</a></li>
                        <div>
                            <li><a class="" href="/news/goc-nhin/covid-19">Covid 19</a></li>
                            <li><a class="" href="/news/goc-nhin/chinh-tri-chinh-sach">Chính trị & chính sách</a></li>
                            <li><a class="" href="/news/goc-nhin/y-te-suc-khoe">Y tế & sức khỏe</a></li>
                            <li><a class="" href="/news/goc-nhin/kinh-doanh-quan-tri">Kinh doanh & quản trị</a></li>
                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/goc-nhin/giao-duc-tri-thuc">Giáo dục & tri thức</a></li>
                                <li><a class="" href="/news/goc-nhin/moi-truong">Môi trường</a></li>
                                <li><a class="" href="/news/goc-nhin/van-hoa-loi-song">Văn hóa & lối sống</a></li>
                            </div>
                            
                        </div>           
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/the-gioi">Thế giới</a></li>
                        <div>
                            <li><a class="" href="/news/the-gioi/tu-lieu">Tư liệu </a></li>
                            <li><a class="" href="/news/the-gioi/phan-tich">Phân tích </a></li>
                            <li><a class="" href="/news/the-gioi/nguoi-viet-5-chau">Người việt 5 châu </a></li>
                            <li><a class="" href="/news/the-gioi/cuoc-song-do-day">Cuộc sống đó đây </a></li>
                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/the-gioi/quan-su">Quân sự </a></li>
                            </div>                           
                        </div>          
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/video">Video </a></li>
                        <div>
                            <li><a class="" href="/news/video/thoi-su">Thời sự </a></li>
                            <li><a class="" href="/news/video/nhip-song">Nhịp sống </a></li>
                            <li><a class="" href="/news/video/sports-life">sports life </a></li>
                            <li><a class="" href="/news/video/food">Food </a></li>
                            
                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/video/cuoc-song-4.0">Cuộc sống 4.0 </a></li>
                                <li><a class="" href="/news/video/toi-ke">Tôi kể </a></li>
                                <li><a class="" href="/news/video/chuyen-nui-rung">Chuyện núi rừng </a></li>
                                <li><a class="" href="/news/video/toa-dam-kinh-te">Tọa đàm kinh tế </a></li>
                                <li><a class="" href="/news/video/giai-tri">Giải trí </a></li>
                                <li><a class="" href="/news/video/du-lich">Du lịch </a></li>
                                <li><a class="" href="/news/video/the-gioi">Thế giới </a></li>
                                <li><a class="" href="/news/video/phap-luat">Pháp luật </a></li>
                                <li><a class="" href="/news/video/kinh-doanh">Kinh doanh </a></li>
                                <li><a class="" href="/news/video/khoa-hoc">Khoa học </a></li>
                                <li><a class="" href="/news/video/giao-duc">Giáo dục </a></li>
                                <li><a class="" href="/news/video/suc-khoe">Sức khỏe </a></li>
                            </div>
                            
                        </div>         
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/kinh-doanh">Kinh doanh</a></li>
                        <div>
                            <li><a class="" href="/news/kinh-doanh/quoc-te">Quốc tế </a></li>
                            <li><a class="" href="/news/kinh-doanh/doanh-nghiep">Doanh nghiệp </a></li>
                            <li><a class="" href="/news/kinh-doanh/chung-khoan">Chứng khoán </a></li>
                            <li><a class="" href="/news/kinh-doanh/bat-dong-san">Bất động sản </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/kinh-doanh/ebank">Ebank </a></li>
                                <li><a class="" href="/news/kinh-doanh/vi-mo">Vĩ mô </a></li>
                                <li><a class="" href="/news/kinh-doanh/tien-cua-toi">Tiền của tôi </a></li>
                                <li><a class="" href="/news/kinh-doanh/bao-hiem">Bảo hiểm </a></li>
                                <li><a class="" href="/news/kinh-doanh/hang-hoa">Hàng hóa </a></li>
                                <li><a class="" href="/news/kinh-doanh/startup">Startup </a></li>
                                <li><a class="" href="/news/kinh-doanh/e-commerce-4.0">E-commerce 4.0</a></li>
                                <li><a class="" href="/news/kinh-doanh/vhome">Vhome</a></li>
                            </div>
                            
                        </div>
                        
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/khoa-hoc">Khoa học </a></li>
                        <div>
                            <li><a class="" href="/news/khoa-hoc/tin-tuc"> Tin tức</a></li>
                            <li><a class="" href="/news/khoa-hoc/phat-minh">Phát minh </a></li>
                            <li><a class="" href="/news/khoa-hoc/ung-dung">Ứng dụng </a></li>
                            <li><a class="" href="/news/khoa-hoc/the-gioi-tu-nhien">Thế giới tự nhiên </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/khoa-hoc/thuong-thuc">Thường thức </a></li>
                                <li><a class="" href="/news/khoa-hoc/khoa-hoc-trong-nuoc">Khoa học trong nước </a></li>
                            </div>
                            
                        </div>          
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/giai-tri">Giải trí </a></li>
                        <div>
                            <li><a class="" href="/news/giai-tri/gioi-sao">Giới sao </a></li>
                            <li><a class="" href="/news/giai-tri/video">Video </a></li>
                            <li><a class="" href="/news/giai-tri/phim">Phim </a></li>
                            <li><a class="" href="/news/giai-tri/nhac">Nhạc </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                 <li><a class="" href="/news/giai-tri/thoi-tranh">Thời trang </a></li>
                                <li><a class="" href="/news/giai-tri/lam-dep">Làm đẹp </a></li>
                                <li><a class="" href="/news/giai-tri/sach">Sách </a></li>
                                <li><a class="" href="/news/giai-tri/san-khau-my-thuat">Sân khấu - Mỹ thuật </a></li>
                            </div>
                           
                        </div>            
                    </ul> 

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/the-thao">Thể thao </a></li>
                        <div>
                            <li><a class="" href="/news/the-thao/video">Video </a></li>
                            <li><a class="" href="/news/the-thao/bong-da">Bóng đá </a></li>
                            <li><a class="" href="/news/the-thao/lich-thi-dau">Lịch thi đấu </a></li>
                            <li><a class="" href="/news/the-thao/v-league">V-League </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/the-thao/tennis">Tennis </a></li>
                                <li><a class="" href="/news/the-thao/VM-2021">VM 2021 </a></li>
                                <li><a class="" href="/news/the-thao/cac-mon-khac">Các môn khác </a></li>
                                <li><a class="" href="/news/the-thao/olympic-Tokyo-2020">Olympic Tokyo 2020 </a></li>
                                <li><a class="" href="/news/the-thao/world-cup-2022">World Cup 2022 </a></li>
                                <li><a class="" href="/news/the-thao/hau-truong">Hậu trường </a></li>
                                <li><a class="" href="/news/the-thao/anh">Ảnh</a></li>
                                <li><a class="" href="/news/the-thao/tuong-thuat">Tường thuật </a></li>
                                <li><a class="" href="/news/the-thao/v-race">V-Race </a></li>
                                <li><a class="" href="/news/the-thao/trac-nghiem">Trắc nghiệm </a></li>
                            </div>
                            
                        </div>
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/phap-luat">Pháp luật </a></li>
                        <div>
                            <li><a class="" href="/news/phap-luat/ho-so-pha-an">Hồ sơ phá án </a></li>
                            <li><a class="" href="/news/phap-luat/tu-van">Tư vấn </a></li>
                        </div>         
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/giao-duc">Giáo dục </a></li>
                        <div>
                            <li><a class="" href="/news/giao-duc/tuyen-sinh">Tuyển sinh </a></li>
                            <li><a class="" href="/news/giao-duc/diem-thi">Điểm thi </a></li>
                            <li><a class="" href="/news/giao-duc/tra-cuu-dai-hoc">Tra cứu đại học </a></li>
                            <li><a class="" href="/news/giao-ducdu-hoc/">Du học </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/giao-duc/hoc-tieng-anh">Học tiếng Anh </a></li>
                                <li><a class="" href="/news/giao-duc/trac-nghiem">Trắc nghiệm </a></li>
                                <li><a class="" href="/news/giao-duc/giao-duc-4.0">Giáo dục 4.0 </a></li>
                                <li><a class="" href="/news/giao-duc/debate">Debate </a></li>
                                <li><a class="" href="/news/giao-duc/dau-truong-toan-hoc">Đấu trường toán học </a></li>
                            </div>
                            
                        </div>
                        
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/suc-khoe">Sức khỏe </a></li>
                        <div>
                            <li><a class="" href="/news/suc-khoe/tin-tuc">Tin tức </a></li>
                            <li><a class="" href="/news/suc-khoe/tu-van">Tư vấn </a></li>
                            <li><a class="" href="/news/suc-khoe/dinh-duong">Dinh dưỡng </a></li>
                            <li><a class="" href="/news/suc-khoe/khoe-dep">Khỏe đẹp </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/suc-khoe/dan-ong">Đàn ông </a></li>
                                <li><a class="" href="/news/suc-khoe/cac-benh">Các bệnh </a></li>
                                <li><a class="" href="/news/suc-khoe/ung-thu">Ung thư </a></li>
                                <li><a class="" href="/news/suc-khoe/vaccine">Vaccine </a></li>
                            </div>
                            
                        </div>           
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/doi-song">Đời sống </a></li>
                        <div>
                            <li><a class="" href="/news/doi-song/to-am">Tổ ấm </a></li>
                            <li><a class="" href="/news/doi-song/bai-hoc-song">Bài học sống </a></li>
                            <li><a class="" href="/news/doi-song/nha">Nhà </a></li>
                            <li><a class="" href="/news/doi-song/tieu-dung">Tiêu dùng </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/doi-song/cooking">Cooking </a></li>
                            </div>
                            
                        </div>
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/du-lich">Du lịch </a></li>
                        <div>
                            <li><a class="" href="/news/du-lich/diem-yeu">Điểm đến </a></li>
                            <li><a class="" href="/news/du-lich/dau-chan">Dấu chân </a></li>
                            <li><a class="" href="/news/du-lich/tu-van">Tư vấn </a></li>
                            <li><a class="" href="/news/du-lich/safe-go">Safe Go </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/du-lich/anh">Ảnh </a></li>
                                <li><a class="" href="/news/du-lich/an-va-choi">Ăn và chơi </a></li>
                            </div>
                            
                        </div>           
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/so-hoa">Số hóa </a></li>
                        <div>
                            <li><a class="" href="/news/so-hoa/cong-nghe">Công nghệ </a></li>
                        <li><a class="" href="/news/so-hoa/san-pham">Sản phẩm </a></li>
                        <li><a class="" href="/news/so-hoa/dien-dan">Diễn đàn </a></li>
                        <li><a class="" href="/news/so-hoa/san-pham-toi-yeu">Sản Phẩm Tôi Yêu </a></li>
                        </div>
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/xe/">Xe </a></li>
                        <div>
                            <li><a class="" href="/news/xe/thi-truong">Thị trường </a></li>
                            <li><a class="" href="/news/xe/tu-van">Tư vấn </a></li>
                            <li><a class="" href="/news/xe/dien-dan">Diễn đàn </a></li>
                            <li><a class="" href="/news/xe/danh-gia">Đánh giá </a></li>

                            <a class="button__hide">Xem thêm</a>
                            <div class="hide__item d-none">
                                <li><a class="" href="/news/xe/video">Video </a></li>
                                <li><a class="" href="/news/xe/bang-gia-oto">Bảng giá ôtô </a></li>
                                <li><a class="" href="/news/xe/xe-dien">Xe điện </a></li>
                                <li><a class="" href="/news/xe/cam-nang-mua-xe">Cẩm nang mua xe </a></li>
                                <li><a class="" href="/news/xe/thi-bang-lai">Thi bằng lái </a></li>
                                <li><a class="" href="/news/xe/mua-ban">Mua bán </a></li>
                            </div>
                            
                        </div>            
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/y-kien/">Ý kiến </a></li>
                        <div>
                            <li><a class="" href="/news/y-kien/thoi-su">Thời sự </a></li>
                            <li><a class="" href="/news/y-kien/doi-song">Đời sống </a></li>
                        </div>            
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/tam-su">Tâm sự </a></li>
                        <div>
                            <li><a class="" href="/news/tam-su/chuyen-gia-go-roi">Chuyên gia gỡ rối </a></li>
                            <li><a class="" href="/news/tam-su/hen-ho">Hẹn hò </a></li>
                        </div>
                    </ul>

                    <ul class="fade__item header__item col-xl-2 col-md-3 col-6">
                        <li><a class="" href="/news/hai/">Hài </a></li>
                        <div>
                            <li><a class="" href="/news/hai/cuoi">Cười </a></li>
                            <li><a class="" href="/news/hai/do-vui">Đố vui </a></li>
                            <li><a class="" href="/news/hai/chuyen-la">Chuyện lạ </a></li>
                            <li><a class="" href="/news/hai/thu-cung">Thú cưng </a></li>
                        </div>            
                    </ul>
                </div>
            </div>
            <div class="random__navbar col-xl-2 d-lg-none d-xl-block">

            </div>
        </div>

</div>
<script>
    const btns = $('.button__hide').toArray();
    const hideElements = $('.hide__item').toArray();
    const btnClose = $('.btn__close');
    const headerHide = $('.header__hide')
    console.log(btnClose);
    console.log(headerHide);

    btns.forEach((value, index) => {
        value.onclick = function() {
            hideElements[index].classList.remove('d-none');
            value.classList.add('d-none');
        }
    });

    btnClose.click(function() {
        headerHide.addClass('d-none');
    });

    $('.btn-nav').click(() => {
        headerHide.toggleClass('d-none')
    })


</script>